<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Battle Editor</title>
</head>

<body>
    <div id="battle-list">
        <table>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Action</th>
            </tr>
            <tr th:each="battle : ${battles}">
                <td th:text="${battle.getName()}"></td>
                <td th:text="${battle.getCode()}"></td>
                <td>
                    <a th:href="@{'/swgoh/territories/' + ${battle.getId()}}">Edit Territories</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>