<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Territory Editor</title>
</head>

<body>
    <form th:action="@{/swgoh/saveTerritory}" th:object="${territory}" method="post">
    <div id="container">
            <input type="hidden" th:field="*{id}" value="${territory.getId()}" />
            <input type="hidden" th:field="*{zoneNo}" value="${territory.getZoneNo()}" />
            <input type="hidden" th:field="*{battle}" value="${territory.getBattle()}" />
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" th:field="*{name}" value="${territory.getName()}" /></td>
                </tr>
                <tr>
                    <td>Alignment</td>
                    <td><input type="text" th:field="*{alignment}" value="${territory.getAlignment()}" /></td>
                </tr>
                <tr>
                    <td>First Star</td>
                    <td><input type="text" th:field="*{firstStar}" value="${territory.getFirstStar()}" /></td>
                </tr>
                <tr>
                    <td>Second Star</td>
                    <td><input type="text" th:field="*{secondStar}" value="${territory.getSecondStar()}" /></td>
                </tr>
                <tr>
                    <td>Third Star</td>
                    <td><input type="text" th:field="*{thirdStar}" value="${territory.getThirdStar()}" /></td>
                </tr>
            </table>
            <input type="submit" value="Save"/>
        </div>
    </form>
</body>
</html>
