<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Territory Editor</title>
</head>

<body>
    <form th:action="@{/swgoh/territories/save}" th:object="${territories}" method="post">
        <fieldset>
            <table>
                <thead>
                <tr>
                    <th>Zone</th>
                    <th>Name</th>
                    <th>Alignment</th>
                    <th>Relic</th>
                    <th>First Star</th>
                    <th>Second Star</th>
                    <th>Third Star</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="territory, iterStat : *{territories}">
                    <input type="hidden" th:field="*{territories[__${iterStat.index}__].id}" />
                    <input type="hidden" th:field="*{territories[__${iterStat.index}__].zoneNo}" />
                    <input type="hidden" th:field="*{territories[__${iterStat.index}__].battle}" />

                    <td th:text="${territory.getZoneNo()}"></td>
                    <td><input th:field="*{territories[__${iterStat.index}__].name}" /></td>
                    <td><input th:field="*{territories[__${iterStat.index}__].alignment}" /></td>
                    <td><input th:field="*{territories[__${iterStat.index}__].relic}" /></td>
                    <td><input th:field="*{territories[__${iterStat.index}__].firstStar}" /></td>
                    <td><input th:field="*{territories[__${iterStat.index}__].secondStar}" /></td>
                    <td><input th:field="*{territories[__${iterStat.index}__].thirdStar}" /></td>
                    <td><a th:href="@{'/swgoh/operations/' + ${territory.getId()}}">Operations</a></td>
                </tr>
                </tbody>
            </table>
            <input type="submit" id="submitButton" th:value="Save" />
            <input type="button" value="Back" onclick="history.go(-1)" />
        </fieldset>
    </form>
</body>
</html>